body {
    background: rgb(39, 39, 39);
    color: rgb(0, 192, 134);
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.face-animation {
    width: 300px;
    height: 300px;
    
    margin: auto auto;

    background-image: url('../images/index/faces-smaller.jpg');
    background-size: 100% 700%;
    background-position: top;
    background-repeat: no-repeat;
}

.face-animation:hover {
    animation-name: face-change;
    animation-duration: 0.7s;
    animation-timing-function: steps(6);
    animation-fill-mode: forwards;
}

@keyframes face-change {
    from {
        background-position: top;
    }
    to {
        background-position: bottom;
    }
}